# Check for various OS openers. Quit as soon as we find one that works.
for opener in browser-exec xdg-open cmd.exe cygstart "start" open; do
	if command -v $opener >/dev/null 2>&1; then
		if [[ "$opener" == "cmd.exe" ]]; then
			# shellcheck disable=SC2139
			alias open="$opener /c start";
		else
			# shellcheck disable=SC2139
			alias open="$opener";
		fi
		break;
	fi
done


# git
alias g='git '

# docker-compose aliases
alias dcd='docker-compose down'
alias dcup='docker-compose up'
alias dcupd='docker-compose up -d'
alias dcl='docker-compose logs'
alias dclf='docker-compose logs -f'
alias dcp='docker-compose ps'
alias dcs='docker-compose stop'
alias dcrm='docker-compose rm'

# docker-machine aliases
alias dm='docker-machine'

# kubernetes
alias k='kubectl'

# Terraform 
alias tf='terraform'
alias tfd='terraform destroy'
alias tfa='terraform apply'
alias tfaa='terraform apply -auto-approve'

alias tfp='terraform plan'
alias tfi='terraform init'

# vhosts
alias hosts='sudo vim /etc/hosts'

alias kctx='kubectx'
alias kns='kubens'
