[alias]
	# Checkout a pull request from origin (of a github repository)
	pr = !"pr() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1; }; pr"
	# Checkout a pull request from upstream (of a github repository)
	pru = !"pr() { git fetch upstream pull/$1/head:pr-$1; git checkout pr-$1; }; pr"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        p  = push
        pf = push --force
        pfl = push --force-with-lease
	ce = commit --allow-empty
        cm = commit -m 
        co = checkout
        cob = checkout -b
         s = status -s
	st = status
	mwps = push -o merge_request.create -o merge_request.target=master -o merge_request.merge_when_pipeline_succeeds
	mrm = push -o merge_request.create -o merge_request.target=master
        re-main = branch -m master main   
        save = !git add -A && git commit -m 'chore: commit save point'
        undo = reset HEAD~1 --mixed
[user]
	email = niclas@mietz.io
	name = solidnerd
	signingkey = B5469BE5

[commit]
	gpgsign = true

[pull]
	rebase = true

[core]
	editor = /usr/local/bin/nvim 
	trustctime = false
	excludesfile = /Users/niclas/.gitignore

[diff "sopsdiffer"]
	textconv = sops -d
[gpg]
	program = /usr/local/bin/gpg
[icdiff]
	options = --highlight --line-numbers

[includeIf "gitdir:~/develop/sph/**"]
    path = .gitconfig-sph

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[credential "https://gitlab.com/solidnerd"]
    username = git
    useHttpPath = true
[init]
	defaultBranch = main
