"*":
  "exception-reporting":
    userId: "f0bfb060-4b7b-4160-6c04-93b4cd0f5f14"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "spacegray-dark-neue-ui"
      "peacocks-in-space-syntax"
    ]
    disabledPackages: [
      "dev-live-reload"
      "metrics"
    ]
  "tree-view": {}
  editor:
    invisibles: {}
    showInvisibles: true
  "erlang-build": {}
